@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;    
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}

body * {
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.mobile-imagem{
    display: none;
}

.titulo-card{
    color: white;
}

.card-login{
    text-align: center;
    width: 90%;    
}

.cadastro{
    color: white;
    text-decoration: none;
}

.cadastro:hover{
    color: rgb(194, 194, 194);
}

#mensagemBox{
    position: absolute;
    background-color: #7cc1f1;
    padding: 2px 10px;
    border-radius: 5px;
    top: 20px;
    left: 20px;
    color: white;
    z-index: 1000;
}

.popUpDesabilitado {
    display: none;
}

.popUpCorDeErro {
    background-color: red !important;
    color: white !important;
}

.main-login{
    display: flex;
    justify-content: space-between;
    height: 100%;
    background-color: #7cc1f1;
    background-image: url('../img/plano-de-fundo-login.jpg');
    background-size: cover;
}

.left-login{
    min-width: 400px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 25%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2); /* Cor de fundo com transparência */
    backdrop-filter: blur(10px) brightness(80%); /* Aplica um desfoque ao fundo */
    border-radius: 0 40px 40px 0;
}
.image{
    width: 30vw;
}

.right-login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
}

.container-imagem{
    text-align: center;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input,select{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    color: #8b8c8d;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
    border: 1px solid rgb(179, 179, 179);
}

.textfield > label{
    color:rgb(230, 230, 230);
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color:#8b8c8d;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: white;
    background:#0a71bb;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn-login:hover{
    background:#188adb;
    color: #e2e2e2;
}

button[disabled] {
    opacity: 0.7;
}

@media (max-width: 900px) {
    .right-login {
        display: none;
    }

    .left-login {
        width: 100%;
        border-radius: 0;
        background-color: #7cc1f1;
    }

    .btn-login{
        background-color: white;
        color: gray;
    }

    .btn-login:hover{
        background-color: rgb(219, 219, 219);
        color: rgb(27, 27, 27);
    }

    .mobile-imagem{
        display: block;
    }
  }